body {
    background-color: #5DAA68;
    color: maroon;
    font-family: Arial;
    margin: 0px;
    position: relative;
    z-index: -2;
}
main{
    background-color: #5DAA68;
    color: maroon;
    font-family: Impact;
    margin: 10px 20px 131px;
}
footer{
    background-color: #3F6844;
    color: maroon;
    font-family: Impact;
    font-size: 15pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
}
header{
    background-color: #3F6844;
    color: maroon;
    font-family: Impact;
    padding: 20px;
    font-size: 15pt
}
a{
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color:#05386b;
    text-decoration: none;
}

a:visited {
    color:#0c3f34;
    text-decoration: none;
}

a:hover {
    color: #edf5e1;
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.8;}
div.menu {
    border: 7px solid #77c081;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    }
    
div.menu:hover {
    background-color: #ffffff30;
     box-shadow: 0 0 15px #00000030;}